* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: #FFFBEB;
}

.sidebar {
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
    width: 80px;
    background: #12171e;
    padding: 0.4rem 0.8rem;
    border-radius: 0 0.6rem 0.6rem 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease;
}

.sidebar.active ~ .main-content {
    left: 250px;
    width: calc(100% - 250px);
}

.sidebar.active {
    width: 200px;
}

.sidebar #btn {
    position: absolute;
    color: white;
    top: .4rem;
    left: 50%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}

.sidebar.active #btn {
    left: 90%;
}

.sidebar .top .logo-wrapper {
    position: relative;
}

.sidebar .top .logo {
    color: #fff;
    display: flex;
    align-items: center;
    height: 50px;
    margin-left: 1.5rem;
    width: 100%;
    pointer-events: none;
    opacity: 0;
}

.sidebar.active .top .logo {
    opacity: 1;
}

.top .logo i {
    font-size: 2rem;
    margin-right: 5px;
}

.top .logo span {
    margin-left: 8px;
}

.sidebar .ul-wrapper {
    position: relative;
}

.sidebar ul li {
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 90%;
    margin: 0.8rem auto;
    line-height: 50px;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    border-radius: 0.8rem;
    padding-left: 1rem;
    transition: all 0.3s ease;
}


/* push the :last-child link tag to the bottom of the sidebar */

.sidebar ul li:last-child {
    margin-top: 12rem;
}



.sidebar ul li a:hover {
    background: #fff;
    color: #12171e;
}

.sidebar ul li a i {
    min-width: 50px;
    /* text-align: center; */
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
}

.sidebar .nav-item {
    opacity: 0;
}

.sidebar.active .nav-item {
    opacity: 1;
}

.main-content {
    position: absolute;
    top: 0;
    left: 80px;
    height: 100vh;
    width: calc(100% - 80px);
    /* background: #c5a9a9; */
    transition: all 0.5s ease;
}

.main-content .container {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}


 /*============================ The Top Bar================== */
.main-content .container .top_bar {
    position: sticky;
    top: 0;
    width: 100%;
    height: 50px;
    background: #FFFBEB;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-content .container .top_bar_left {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.main-content .container .top_bar_left h1 {
    font-size: 1.2rem;
    font-weight: 600;
}

.main-content .container .top_bar_right {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.main-content .container .top_bar_right .search {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.main-content .container .top_bar_right .search input {
    height: 30px;
    width: 200px;
    border-radius: 0.8rem;
    border: none;
    padding: 0 1rem;
    outline: none;
}

.main-content .container .top_bar_right .search i {
    position: absolute;
    right: 0.5rem;
    font-size: 1.2rem;
    color: #fff;
}

.main-content .container .top_bar_right .user {
    display: flex;
    align-items: center;
}

.main-content .container .top_bar_right .user .user-img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.main-content .container .top_bar_right .user p {
    font-size: 0.8rem;
}

.main-content .container .top_bar_right .user p.bold {
    font-weight: 600;
}

.main-content .container .top_bar_right .user p:nth-child(2) {
    opacity: 0.5;
}


.main-content .container .the_content {
    width: 100%;
    background: #FFFBEB;
    /* padding top and bottom 2rem padding left 3rem padding right 4rem */
    padding: 2rem 4rem 2rem 2rem;
    height: 100vh;
}

.main-content .container .the_content .cardss {
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 1rem;
    margin: 2rem 0;
    border-radius: 1.2rem;
}