* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.user-img {
    width: 50px;
    border-radius: 100%;
    border: 1px solid #eee;
}


.sidebar {
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
    width: 80px;
    background: #12171e;
    padding: 0.4rem 0.8rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease;
}

.sidebar.active ~ .main-content {
    left: 250px;
    width: calc(100% - 250px);
}

.sidebar.active {
    width: 200px;
}

.sidebar #btn {
    position: absolute;
    color: white;
    top: .4rem;
    left: 50%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}

.sidebar.active #btn {
    left: 90%;
}

.sidebar .top .logo-wrapper {
    position: relative;
}

.sidebar .top .logo {
    color: #fff;
    display: flex;
    align-items: center;
    height: 50px;
    margin-left: 1.5rem;
    width: 100%;
    pointer-events: none;
    opacity: 0;
}

.sidebar.active .top .logo {
    opacity: 1;
}

.top .logo i {
    font-size: 2rem;
    margin-right: 5px;
}

.user-wrapper {
    position: relative;
}

.user {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    cursor: pointer;
}


.user p {
    color: #fff;
    opacity: 1;
    margin-left: 1rem;
}


.bold {
    font-weight: 600;
}


.sidebar p {
    opacity: 0;
}

.sidebar.active p {
    opacity: 1;
}

.sidebar.active .user img {
    margin-left: 1.5rem;
}

.sidebar .ul-wrapper {
    position: relative;
}

.sidebar ul li {
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 90%;
    margin: 0.8rem auto;
    line-height: 50px;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    border-radius: 0.8rem;
    padding-left: 1rem;
    transition: all 0.3s ease;
}


/* push the :last-child link tag to the bottom of the sidebar */

.sidebar ul li:last-child {
    margin-top: 12rem;
}



.sidebar ul li a:hover {
    background: #fff;
    color: #12171e;
}

.sidebar ul li a i {
    min-width: 50px;
    /* text-align: center; */
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
}

.sidebar .nav-item {
    opacity: 0;
}

.sidebar.active .nav-item {
    opacity: 1;
}

.main-content {
    position: absolute;
    top: 0;
    left: 80px;
    height: 100vh;
    width: calc(100% - 80px);
    background: #c5a9a9;
    transition: all 0.5s ease;
}

.main-content .container {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-content .container .top_bar {
    position: sticky;
    top: 0;
    width: 100%;
    background: #fff;
    color: #12171e;
}

.main-content .container .top_bar .top_bar_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

                        /* <div class="top_bar_left">
                            <h1>Dashboard</h1>
                        </div>
                        <div class="top_bar_right">
                            <div class="search">
                                <input type="text" placeholder="Search">
                                <i class="bx bx-search"></i>
                            </div>
                            <div class="user">
                                <img src="brain.jpg" alt="" class="user-img">
                                <div>
                                    <p class="bold">Clint</p>
                                    <p>Admin</p>
                                </div>
                            </div>
                        </div> */

.main-content .container .top_bar .top_bar_wrapper .top_bar_left {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.main-content .container .top_bar .top_bar_wrapper .top_bar_left h1 {
    font-size: 1.5rem;
    font-weight: 600;
}

.main-content .container .top_bar .top_bar_wrapper .top_bar_right {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.main-content .container .top_bar .top_bar_wrapper .top_bar_right .search {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    height: 40px;
    background: #eee;
    border-radius: 0.8rem;
    padding: 0 1rem;
}

.main-content .container .top_bar .top_bar_wrapper .top_bar_right .search input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    font-size: 1rem;
    font-weight: 500;
    color: #12171e;
}

.main-content .container .the_content {
    width: 100%;
    background: #fff;
    padding: 2rem 4rem;
    height: 100vh;
}

.main-content .container .the_content .cardss {
    width: 100%;
    height: 100%;
    background: #1a8555;
    padding: 1rem;
    margin: 2rem 0;
    border-radius: 1.2rem;
}