body {
    background-color: #FFFBEB;
    color: #ffffff;
    font-family: 'Cormorant Garamond', serif;
    font-size: 14px;
    line-height: 1.42857143;
    margin: 0;
    overflow: auto;
}

.top_bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #111827;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px;
    z-index: 1
  }
  

  .sidebar_trigger {
    cursor: pointer;
    font-size: 20px;
    margin-left: -12px;
    height: 50px;
    width: 50px;
  }

  .sidebar_trigger span {
    font-family: 'Material Icons';
    display: block;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    color: white;
    transition: transform 1s ease-in-out;
  }

  #menu_closed {
    display: none;
  }


  .bottom_section {
    display: flex;
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .side_bar {
    background-color: #FFFBEB;
    height: calc(100vh - 50px);
    width: 200px;
    position: fixed;
    top: 50px;
    left: -200px;
    transition: left 0.3s ease-in-out;
    z-index: 1;
  }

  .side_bar .profile {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFBEB;
    height: 75px;
    border-bottom: 1px solid #78350F;

  }

  
  .side_bar .profile_image img {
    background-color: #333333;
    margin-left: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .side_bar .profile_name {
    padding: 10px 20px;
    font-size: 30px;
    font-weight: 700;
    color: #333333;
  }



    .side_bar .sidebar_links ul {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin-top: 10px;
        list-style: none;
    }

    .side_bar .sidebar_links ul li {
        padding: 5px 0px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 90%;
        margin-left: 10px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
    }

    .sidebar_links ul li:last-child {
        margin-top: auto;
    }

    .side_bar .sidebar_links ul li:hover{
        background-color: #FDE68A;
    }

    .side_bar .sidebar_links ul li a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #333333;
        padding-left: 10px;
    }

    .side_bar .sidebar_links ul li a:hover {
        color: #78350F;
    }



    .side_bar .sidebar_links ul li a span {
        font-size: 20px;
    }

    
    .side_bar .sidebar_links .link-text {
        font-size: 18px;
        font-weight: 700;
        padding-left: 15px;
    }

    .side_bar .sidebar_links a #count {
        padding-left: 10px;
    }


  .side_bar .sidebar_links a span {
    font-family: 'Material Icons';
    font-size: 20px;
  }

  .content {
    flex: 1;
    background-color: #ffffff;
    color: aqua;
    margin: 10px;
    height: 200vh;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    overflow: auto; /* add this line to allow scrolling by default */
    transition: filter 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .content.blur {
    filter: blur(2px); /* add this to apply a blur effect */
    overflow: hidden; /* add this to prevent scrolling */
  }

  .heading {
    background-color: #FFFBEB;
    color: #333333;
    width: 5rem;
    margin-top: 5px;
    font-size: 16px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }

  .add_matter {
    margin-top: 12px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  .add-matter-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    background-color: #111827;
    color: #ffffff;
    border-radius: 5px;
  }
  
 .add-matter-button span {
    font-family: 'Material Icons';
    font-size: 20px;
    padding-right: 5px;
 }

 .add-matter-button .button-text-matter {
    font-family: 'Cormorant Garamond', serif;
    font-size: 16px;
 }

 .content .search {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

 }

 .content .search  .search_title {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    background-color: #ffffff;
    border: 1.2px solid #b2b5ba;
  }

  .content .search .search_title:focus-within {
    border-color: #78350F;
  }
  
  .search_title input[type="text"] {
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    color: #333;
    margin-left: 10px;
  }

  .search_matter_type {
    width: 100%;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #b2b5ba;
  }
  
  .search_matter_type select {
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
    background-color: #FFFFFF;
    color: #111827;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    outline: none;
    cursor: pointer;
  }
  
  .search_matter_type select:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  }
  
  .search_matter_type select:focus {
    border: 1px solid #78350F;
  }

  .matter-card-container {
    margin-top: 30px;
    width: 100%;
  }

  .matter_cards {
    background-color: #FFFBEB;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    padding-top: 8px;
    box-shadow: 2px 2px 4px rgba(0.1, 0.1, 0.1, 0.1);
  }

  .matter-card-container .matter_cards ul {
    width: 87%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .matter-card-container .matter_cards ul li {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
    padding: 5px;
    padding-left: 0px;
  }

 .matter-card-container .matter_cards ul li .matter_tag {
    color: #111827;
  }

  .matter-card-container .matter_cards ul li .matter_tag_details {
    margin-left: 20px;
    font-size: 15px;
    color: #111827;
  }

  .matter-card-container .matter_cards ul .view_matter {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 30px;
    color: #ffffff;
  }

  .matter-card-container .matter_cards ul .view_matter .view-matter-button {
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
    height: 30px;
    background-color: #78350F;
    color: #ffffff;
    border-radius: 5px;
  }


  @media screen and (min-width: 576px) {
    .content .search {
        width: 90%;
        margin-top: 12px;
        display: flex;
        flex-direction: row;
        align-items: center;
     }

     .content .search  .search_title {
        display: flex;
        align-items: center;
        padding: 5px;
        border-radius: 5px;
        background-color: #ffffff;
        border: 1.2px solid #b2b5ba;
        max-width: 150px;
        margin-right: 5px;
      }

      .search_matter_type {
        width: 100%;
        margin-bottom: 5px;
        margin-right: 5px;
        border-radius: 5px;
        border: 1px solid #b2b5ba;
      }
  }


  